<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB81LVY2q3WdlQs1p5X9ApbBWMv-4_hLOI</string>
	<key>GCM_SENDER_ID</key>
	<string>584886105529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelkubeFrontend</string>
	<key>PROJECT_ID</key>
	<string>hostelkube</string>
	<key>STORAGE_BUCKET</key>
	<string>hostelkube.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584886105529:ios:080aea251612cb863d3268</string>
	<key>DATABASE_URL</key>
	<string>https://hostelkube-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>